@import '~bootstrap/scss/bootstrap';
@font-face {
  font-family: 'Korinna';
  src: URL('../KORIN.tff') format('truetype');
}

.logo {
  border-radius: 15px;
  background: #060CE9;
  width: 800px;
  height: 150px;
  font-size: 100px;
  color: #ffd700;
  // add shadow 2px below and 4px to the right
  text-shadow: 3px 2px rgba(0, 0, 0, 1);
}

.homeButton {
  border-radius: 15px;
  background: #060CE9;
  width: 300px;
  height: 70px;
  font-size: 30px;
  margin-top: 10px;
  color: #ffd700;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-self: center;
  text-align: center;
  font-family: Korinna;
}

.category, .question, .answer {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  background: #060CE9;
  display: flex;
  // markers centered on main axis
  justify-content: center;
  // markers centered on cross axis
  align-items: center;
  color: white;
  font-size: 2.5vh;
  font-family: Korinna;
  text-align: center;
  // add shadow 2px below and to the right
  text-shadow: 2px 2px rgba(0, 0, 0, .25);
  min-height: calc(100% / 5);
  // make sure user cannot select text when clicked on
  user-select: none;
  // select the 3 right boxes (3n - every 3rd box)
  &:nth-child(3n) {
    border-right: 0;
  };
  // (-1n + 3) selects last 3 elements
  &:nth-last-child(-1n + 3) {
    border-bottom: 0;
  }
}

.question, .answer{
  color: #ffd700;
  &:hover {
    background-color: DarkBlue;
  }
  font-size: 4vh;
}

.answer {
  color:white;
  margin: 5px;
}

.game-board {
  // game-board set to scale to entire height
  height: 100vh;
  width: 50%;
  margin: auto;
}

.board {
  // set max size of board to be 100% of viewport's height - 75px
  max-height: calc(80vh - 75px);
  max-width: calc(80vw - 75px);
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.primary {
  background-color: #060CE9;
  color: #ffd700 !important;
}

.navbar-light .navbar-brand .navbar-nav .nav-link {
  background-color: #060CE9;
  color: #ffd700 !important;
}

ul {
  list-style-type: none;
  padding-left: 0;
}
